@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
img {
  display: block;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Marquee animation for announcement strip */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}

/* .animate-marquee:hover {
  animation-play-state: paused;
} */